:root {
  --myApp-global--spacer--md: 30px;
  --img-viewer-select-colour: #ffffff00;
}

.pf-c-data-list__item.pf-m-selected {
  --pf-c-data-list__item--before--BackgroundColor: var(--img-viewer-select-colour);
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  #margin-top: var(--myApp-global--spacer--md);
}

.notification-container {
  flex: 0 1 auto;
}
